# ==========================================
# DATABASE SETTINGS
# ==========================================
DB_USER=iot_admin
DB_PASSWORD=GANTI_DENGAN_PASSWORD_YANG_KUAT_CONTOH_7X$p#9q!
DB_NAME=industrial_iot_db

# ==========================================
# MQTT BROKER SETTINGS
# ==========================================
MQTT_EDGE_USER=edge_device
MQTT_EDGE_PASSWORD=edge_secure_passwd_2026
MQTT_BACKEND_USER=backend_service
MQTT_BACKEND_PASSWORD=backend_secure_passwd_2026
